/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-sep-2015, 14:48:31
    Author     : Niek
*/

/*--Colors--
rood: #CE2B37
donkerrood: #960611;
groen: #009246
*/

header{
    background-image:url(../img/Uitgeblust1.JPG);
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
}

body{
    color:#960611;
}

#giro{
    background-color: #CE2B37;
    padding: 100px 0 50px 0;
}
section.location{
	//background: #CE2B37;
        background: url(../img/Molveno.JPG);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #ffffff;
}
section.contact{
	//background: #CE2B37;
        background: url(../img/spaken.JPG);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #ffffff;
}
#portfolio-item-1-1{
    background-color: #ffb901;
}
.portfolio-item{
    padding-left:0px;
    padding-right:0px;
}
.navbar-default{
    background-color: transparent;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
    color: #CE2B37;
    background-color: transparent;
}

.navbar-shrink,.navbar-shrink .navbar-brand:hover, .navbar-shrink .navbar-brand:focus,
.navbar-shrink .navbar-nav>.active>a:hover, 
.navbar-shrink .navbar-nav>.active>a:focus,
.navbar-shrink .navbar-nav>.active>a, 
.navbar-shrink .navbar-nav>li>a:hover, 
.navbar-shrink .navbar-nav>li>a:focus, 
.navbar-shrink .navbar-nav>.active>a:hover{
    background-color: #009246;
}

#team{ margin: 0 auto}

#team .item{
    padding: 0;
    margin: 15px;
    color: #FFF;
    text-align: center;
}

img.img-circle.team-img {
	width: 150px;
	height: 150px;
	border: 4px solid white;
	transition: all 0.5s;
}

#vvf-team .item .thumbnail:hover>img.img-circle.team-img{
	border: 4px solid #CE2B37;
}
#vvf-team .thumbnail {
	background: transparent;
	border: 0;
}

#vvf-team .thumbnail .caption {
	padding: 9px;
	color: white;
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity=1);
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 20px;
	border-radius: 0;
	background: #FFFFFF;
	transition: all 0.5s;
}

.owl-theme .owl-controls .owl-page.active span, 
.owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);
	opacity: 1;
	background: #CE2B37;
}
.owl-theme .owl-controls .owl-page.active span{
	background: #CE2B37;
}

.btn-vvf-header{
    margin-top:300px;
    padding: 60px 40px;
    font-size: 1.75em;
    font-weight: 300;
}

.about h2, .giro h2, .pasta h2, .vvf-team h2 .vvf-contact h2{
    margin: 0 0 20px 0;
}

.about .tagline, .giro .tagline, .pasta .tagline, .vvf-team .tagline, .vvf-contact .tagline {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #93999a;
    text-transform: uppercase;
    margin: 0 0 65px 0;
}

#about p{
    color:#303031;
}

#about span{
    font-size: 30px;
    color:#303031;
}

.vvf-about-features{
    margin-top:50px;
}

.team-member-function{
    color: #93999a;
}

.team-member-description{
    color: #303031;
}

.overlay-vvf{
    position: absolute;
    top:20%;
    left:0;
    width:100%;
    height:100%;
    color:white;
}

.overlay-portfolio{
    position: absolute;
    top:80%;
    left:0;
    width:100%;
    height:100%;
    color:white;
}

a.fa.fa-angle-down {
    padding: 10px 15px;
    color: #fff;
    border: 2px solid #FFF;
    border-radius: 50%;
    font-size: 24px;
    margin-top: 200px;
    transition: all 0.5s;
}
a.fa.fa-angle-down:hover{
    background: #FFF;
    color: #CE2B37;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #CE2B37;
    background: #fff;
}