/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-sep-2015, 14:48:31
    Author     : Niek
*/

/*--Colors--
rood: #CE2B37
groen: #009246
*/

#giro{
    background-color: #CE2B37;
}
section.location{
	//background: #CE2B37;
        background: url(../img/Molveno.JPG);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #ffffff;
}
section.contact{
	//background: #CE2B37;
        background: url(../img/spaken.JPG);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #ffffff;
}
#portfolio-item-1-1{
    background-color: #ffb901;
}
.portfolio-item{
    padding-left:0px;
    padding-right:0px;
}
.navbar-default{
    background-color: #009246;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
    color: #CE2B37;
    background-color: #009246;
}

#team{ margin: 0 auto}

#team .item{
    padding: 0;
    margin: 15px;
    color: #FFF;
    text-align: center;
}

img.img-circle.team-img {
	width: 150px;
	height: 150px;
	border: 4px solid white;
	transition: all 0.5s;
}

#vvf-team .item .thumbnail:hover>img.img-circle.team-img{
	border: 4px solid #CE2B37;
}
#vvf-team .thumbnail {
	background: transparent;
	border: 0;
}

#vvf-team .thumbnail .caption {
	padding: 9px;
	color: white;
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity=1);
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 20px;
	border-radius: 0;
	background: #FFFFFF;
	transition: all 0.5s;
}

.owl-theme .owl-controls .owl-page.active span, 
.owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);
	opacity: 1;
	background: #CE2B37;
}
.owl-theme .owl-controls .owl-page.active span{
	background: #CE2B37;
}