/* 
    Created on : 11-sep-2015, 14:48:31
    Author     : Niek
*/

/*--Colors--
italie-rood: #CE2B37
italie-groen: #009246
donkerrood (letter): #960611
donkergrijs (letter): #303031
lichtgrijs (letter): #93999a
Giroroze: #d6698e / 214,105,142
*/

/*HEADER*/
header{
    background-image:url(../img/giroweek/giroheaderfoto.jpg);    
}

.vvf-aanmelden-btn {
    padding: 15px 70px;
    color: #fff;
    border: 4px solid #d6698e;
    border-radius: 40px;
    font-size: 20px;
    margin-top: 200px;
    transition: all 0.5s;
    background-color: rgba(48,48,48,.7);
}
.vvf-aanmelden-btn:hover{
    background-color: #303031;
}

.vvf-intro-container{
    background-color: #303031;
    border-radius: 4px;
    padding-top:10px;
    padding-bottom:10px;
}

.intro-text .skills{
    color:#d6698e;
}

/*NAVIGATION BAR*/
.navbar-default{
    background-color: #d6698e;
}

