/* 
    Created on : 11-sep-2015, 14:48:31
    Author     : Niek
*/

/*--Colors--
italie-rood: #CE2B37
italie-groen: #009246
donkerrood (letter): #960611
donkergrijs (letter): #303031
lichtgrijs (letter): #93999a
*/

/*GENERAL*/
body{
    color:#960611;
}
#vvf-about p, #vvf-portfolio-giro p, #vvf-portfolio-pasop p{
    color:#303031;
}

/*HEADER*/
header{
    background:none;
    background-image:url(../img/uitgeblust1.jpg);
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}
/*END HEADER*/

/*ABOUT VVF*/
#vvf-about span{
    font-size: 30px;
    color:#960611;
}
.vvf-about-features{
    margin-top:50px;
}

@media(max-width:767px){
    .vvf-about-features{
        display:none;
    }
}
/*END ABOUT VVF*/

/*AANBOD*/
#vvf-program{
    background: url(../img/paganella2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
}

.btn-vvf-header{
    margin-top:100px;
    margin-bottom:10px;
    padding: 60px 40px;
    font-size: 1.75em;
    font-weight: 300;
}

@media(max-width:767px){
    .btn-vvf-header{
        margin-top:10px;
        margin-bottom:10px;
        padding: 20px 10px;
        font-size: 1.25em;
        font-weight: 200;
        width: 100%;
    }
}
/*END AANBOD*/

/*GIRO DI MOLVENO*/
/*END GIRO DI MOLVENO*/

/*TUSSENFOTO*/
/*#vvf-tussenfoto{
    background: url(../img/picnic2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
    //height:350px;
}*/

.vvf-thumbnail{
    background-color:rgba(146, 153, 154, 0.3);
    border:none;
}
.vvf-thumbnail .caption{
    background-color:rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}
/*END TUSSENFOTO*/

/*PAS OP VOOR PASTA*/
/*PAS OP VOOR PASTA*/

/*LOCATION*/
#vvf-location{
	//background: #960611;
        background: url(../img/molveno2.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #ffffff;
}

#vvf-location .tagline{
    color:#93999a;
}

#vvf-location span{
    font-size:50px;
    color:#303031;
}

#vvf-location .vvf-route-features span{
    font-size:35px;
}

.vvf-location-row{
    padding-bottom:5em;
}

.vvf-location-ul{
    display: inline-block;
    border:none;
    margin-bottom: 2em;
}
.vvf-location-ul>li{
    border-right: 2px solid #93999a;
}

.vvf-location-ul>li:last-child{
    border:none;
}
.vvf-location-ul>li>a{
    border:none;
}

.vvf-location-ul a{
    padding: 0 70px !important;
    display: inline-block !important;
    min-height: 65px;
    text-align: center;
    vertical-align: middle;
    font-size: 42px;
    margin: 0;
    outline: none;
    border: none;
}

.vvf-location-ul>li.active>a:hover, .vvf-location-ul>li.active>a, .vvf-location-ul>li.active>a:focus{
    background-color: transparent;
    border: none;
    cursor: default;
    color:white;

}
.vvf-location-ul>li>a:hover{
    background-color: transparent;
    //color: #960611;
}

.vvf-location-ul>li>a>span:hover, .vvf-location-ul>li.active>a>span, .vvf-location-ul>li.active>a>span:focus{
    color: #960611 !important;
}

.vvf-hotel{
    border-radius:6px;
    border:5px solid #303031;
}

@media(max-width:767px){
    .vvf-location-ul a {
        padding: 0 20px !important;
        font-size: 20px;
    }
    .vvf-location-ul h4{
        display:none;
    }
}
/*END LOCATION*/

/*TEAM*/
#team{ 
    margin: 0 auto;
    margin-bottom: 20px;
}

#team .item{
    padding: 0;
    margin: 15px;
    color: #FFF;
    text-align: center;
}

img.img-circle.team-img {
	width: 150px;
	height: 150px;
	border: 4px solid #93999a;
	transition: all 0.5s;
}

#vvf-team .item .thumbnail:hover>img.img-circle.team-img{
//	border: 4px solid #960611;
}
#vvf-team .thumbnail {
	background: transparent;
	border: 0;
}

#vvf-team .thumbnail .caption {
	padding: 0px;
	color: white;
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity=1);
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 20px;
	border-radius: 0;
	background: #93999a;
	transition: all 0.5s;
}

.owl-theme .owl-controls .owl-page.active span, 
.owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);
	opacity: 1;
	background: #960611;
}
.owl-theme .owl-controls .owl-page.active span{
	background: #960611;
}

.team-member-name{
    color: #960611;
}

.team-member-function{
    color: #93999a;
}

.team-member-description{
    color: #303031;
}

.vvf-team-collapse{
    color:#303031
}

.vvf-btn-3{
    width:60% !important;
}
/*END TEAM*/

/*CONTACT*/
#vvf-contact{
	//background: #960611;
        background: url(../img/spaken2.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #ffffff;
}

#vvf-contact .tagline{
    color:#960611;
    background-color: rgba(41, 41, 41, 0.8);
    border-radius: 6px;
}

.vvf-contact-div{
    background-color:rgba(146, 153, 154, 0.3);
    border-radius: 6px;
}

.vvf-contact-control-group{
    margin-left:5px;
    margin-right:5px;
}

form .row:first-child .floating-label-form-group{
    border-top:none;
}
.form-control{
    color:white;
}
.vvf-btn, .vvf-btn-2{
    width:100%;
    color:white;
    background-color:#303031;
}
.vvf-btn-2{
    margin-top:15px;
    margin-bottom:15px;
}

.vvf-btn:hover, .vvf-btn-2:hover{
    color:#960611;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color:white !important;
}
.floating-label-form-group-with-value label{
    opacity: 0;
}
/*END CONTACT*/

/*NAVIGATION BAR*/
.navbar-default{
    background-color: transparent;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
    color: #960611;
    background-color: transparent;
}

.navbar-shrink,.navbar-shrink .navbar-brand:hover, .navbar-shrink .navbar-brand:focus,
.navbar-shrink .navbar-nav>.active>a:hover, 
.navbar-shrink .navbar-nav>.active>a:focus,
.navbar-shrink .navbar-nav>.active>a, 
.navbar-shrink .navbar-nav>li>a:hover, 
.navbar-shrink .navbar-nav>li>a:focus, 
.navbar-shrink .navbar-nav>.active>a:hover{
    background-color: #303031;
}
/*END NAVIGATION BAR*/

/*MAIN TEXT (TITLE AND SLOGAN PER DIV)*/
.vvf-main-text h2 {
    margin: 0 0 20px 0;
}

.vvf-main-text .tagline {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #93999a;
    text-transform: uppercase;
    margin: 0 0 65px 0;
}

/*END MAIN TEXT (TITLE AND SLOGAN PER DIV)*/

/*MODALS*/
.vvf-modal-foto{
    border-radius:10px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 0px;
}

#vvf-omgeving-carousel, #vvf-omgeving-carousel2, #vvf-hotel-carousel {
    margin-bottom:20px;
}

.carousel-inner img, .carousel-control{
    border-radius:6px;
    margin-left: auto;
    margin-right: auto;

}

.vvf-panel>.panel-heading{
    color:#303031;
    font-size:20px;
    font-weight:bold;
}

.vvf-panel .panel-body .vvf-panel-span{
    padding-right:.5em;
}

.vvf-panel-label{
    color:#303031;
    font-weight: bold;
}
/*END MODALS*/


.overlay-vvf{
    position: absolute;
    top:20%;
    left:0;
    width:100%;
    height:100%;
    color:white;
}

.overlay-portfolio{
    position: absolute;
    top:80%;
    left:0;
    width:100%;
    height:100%;
    color:white;
}

a.fa.fa-angle-down {
    padding: 10px 15px;
    color: #fff;
    border: 2px solid #FFF;
    border-radius: 50%;
    font-size: 24px;
    margin-top: 100px;
    transition: all 0.5s;
}
a.fa.fa-angle-down:hover{
    background: #FFF;
    color: #CE2B37;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #960611;
    background: #fff;
}

/*OPMAAK-FORMULIER*/



/*Fix for Ipad/Iphone/IOS problem with background images*/
@media screen and (max-device-width: 1023px){
    header,#vvf-tussenfoto,#vvf-program,#vvf-location,#vvf-contact{
        background-attachment: scroll;
    }
    
}

.vvf-giroweek-btn {
    padding: 15px 70px;
    color: #fff;
    border: 4px solid #d6698e;
    border-radius: 40px;
    font-size: 20px;
    margin-top: 100px;
    transition: all 0.5s;
    background-color: rgba(48,48,48,.7);
}
.vvf-giroweek-btn:hover{
    background-color: #303031;
}