/* 
    Created on : 11-sep-2015, 14:48:31
    Author     : Niek
*/

/*--Colors--
italie-rood: #CE2B37
italie-groen: #009246
donkerrood (letter): #960611
donkergrijs (letter): #303031
lichtgrijs (letter): #93999a
Giroroze: #d6698e / 214,105,142
*/

@media (min-width: 992px){
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
body{
    color:#303031;
}

/*HEADER*/
header{
    background-image:url(../img/giroweek/giroheaderfoto.jpg);    
}

.vvf-aanmelden-btn {
    padding: 15px 70px;
    color: #fff;
    border: 4px solid #d6698e;
    border-radius: 40px;
    font-size: 20px;
    margin-top: 200px;
    transition: all 0.5s;
    background-color: rgba(48,48,48,.7);
}
.vvf-aanmelden-btn:hover{
    background-color: #303031;
}

.text-danger, .text-danger:hover {
    color: #d6698e;
}

.alert-success {
    background-color: #d6698e;
    border-color: #d6698e;
}

.vvf-intro-container{
    background-color: #303031;
    border-radius: 4px;
    padding-top:10px;
    padding-bottom:10px;
}

.intro-text .skills{
    color:#d6698e;
}

@media (max-width: 1366px){
    header .intro-text .name {
        font-size:2.5em;
    }
    header .intro-text .skills {
        font-size:1.25em;
    }
}

/*NAVIGATION BAR*/
.navbar-default{
    background-color: #d6698e;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
    color: #303031;
    background-color: transparent;
}

/*ABOUT GIRO*/
.giro-about-giro{
    background-color: #303031;
    border-radius: 4px;
    color:#fff;
    padding:1em;
}

.giro-p-roze{
    color:#d6698e;
    font-weight:300;
}

/*AANMELDEN*/
#vvf-aanmelden{
    //background: #960611;
        background: url(../img/giroweek/paganella.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #ffffff;
}

#vvf-aanmelden .tagline{
    color:#d6698e;
    background-color: rgba(41, 41, 41, 0.8);
    border-radius: 6px;
}

.vvf-aanmelden-div{
    background-color:rgba(146, 153, 154, 0.3);
    border-radius: 6px;
}

.vvf-aanmelden-control-group{
    margin-left:5px;
    margin-right:5px;
}

form .row:first-child .floating-label-form-group{
    border-top:none;
}
.form-control{
    color:white;
}
.vvf-btn, .vvf-btn-2{
    width:100%;
    color:white;
    background-color:#303031;
}
.vvf-btn-2{
    margin-top:15px;
    margin-bottom:15px;
}

.vvf-btn:hover, .vvf-btn-2:hover, .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active{
    color:#d6698e;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color:white !important;
}
.floating-label-form-group-with-value label{
    opacity: 0;
}
/*END AANMELDEN*/

/*TUSSENSECTIE*/
#giro-tussensectie{
    background: url(../img/giroweek/giroerica.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#giro-tussensectie .thumbnail{
    background-color: #d6698e;
    border: 1px solid #d6698e;
}

@media(max-width:767px){
    #giro-tussensectie .thumbnail{
        display:none;
    }
}

/*HOOGTEPROFIELEN*/
#giro-hoogteprofielen{
    background: url(../img/giroweek/giropicnic.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
    //height:350px;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #303031;
}

.vvf-btn-video{
    width:75%;
    border: 3px #d6698e solid;
}

/*GIRO-INFO*/
.giro-kosten, .giro-wiewat{
    border: 4px solid #d6698e;
    border-radius:4px;
    margin:1em;
    padding-top:1em;
}

.giro-kosten p, .giro-wiewat p{
    color:#93999a;
}

.giro-programma, .giro-procedure{
    border: 4px solid #303031;
    border-radius:4px;
    background-color: #303031;
    margin:1em;
    padding-top:1em;
}

.vvf-star{
    font-size:.5em !important;
    vertical-align:super;
    color:#93999a;
}

.giro-programma h2, .giro-procedure h2{
    color:#fff;
}

.giro-programma p, .giro-procedure p{
    color:#d6698e;
}

.giro-kosten p span{
    color:#303031;
}

.vvf-p-grey{
    color:#93999a !important;
}

@media(max-width:991px){
    .giro-programma h2, .giro-procedure h2, .giro-kosten h2, .giro-wiewat h2{
        font-size: 1.75em;
    }
    .giro-programma, .giro-procedure, .giro-kosten, .giro-wiewat{
        margin: 0.4em 0em;
    }
}

/*LOCATIE*/
#giro-locatie .vvf-location-ul>li.active>a:hover, #giro-locatie .vvf-location-ul>li.active>a, #giro-locatie .vvf-location-ul>li.active>a:focus{
    color:#d6698e;
}
#giro-locatie a{
    color:#93999a;
    min-height: 40px;
}
#giro-locatie a:hover, #giro-locatie a:focus{
    color:#d6698e;
}

#giro-locatie .vvf-location-ul{
    margin-bottom:1em;
}

#giro-locatie .vvf-location-ul>li>a>span:hover, .vvf-location-ul>li.active>a>span, .vvf-location-ul>li.active>a>span:focus {
    color: #d6698e !important;
}

@media(min-width:768px){
    #giro-locatie span{
        display:none;
    }
}

/*VOORWAARDEN*/
@media(max-width:991px){
    #Voorwaardemodal h2{
        font-size: 1.75em;
    }
}

.portfolio-modal .close-modal .lr {
    width:2px;
    background-color: #d6698e;
}

.portfolio-modal .close-modal .lr .rl{
    width:2px;
    background-color: #d6698e;
}

/*VIDEO*/
#Videomodal .modal-content{
    background: #303031;
    color:#d6698e;
}
#Videomodal hr.star-primary {
    border-color:#fff;
}

#Videomodal p {
    color:#fff;
}

.vvf-erica-fa{
    font-size:2em !important;
}

#vvf-erica{
    padding:0px;
    background-color: #303031;
    color:#d6698e;
}

#vvf-erica .vvf-main-text{
    margin-top:15px;
}

#vvf-erica .vvf-main-text .tagline{
    margin:0px;
    color:#fff;
}

.vvf-video-navbar{
    margin-bottom:0px;
}


/*Fix for Ipad/Iphone/IOS problem with background images*/
@media screen and (max-device-width: 1023px){
    #vvf-aanmelden,#giro-tussensectie,#giro-hoogteprofielen{
        background-attachment: scroll;
    }
    
}